/*----------------------------------------*/
/* General
/*----------------------------------------*/
html, body {

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background: url("../../jeu/ressources/images/tableMobile.png"), no-repeat;
    background-size: cover;

    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/*----------------------------------------*/
/* Caroussel
/*----------------------------------------*/

@keyframes tonext {
    75% {
        left: 0;
    }
    95% {
        left: 100%;
    }
    98% {
        left: 100%;
    }
    99% {
        left: 0;
    }
}

@keyframes tostart {
    75% {
        left: 0;
    }
    95% {
        left: -300%;
    }
    98% {
        left: -300%;
    }
    99% {
        left: 0;
    }
}

@keyframes snap {
    96% {
        scroll-snap-align: center;
    }
    97% {
        scroll-snap-align: none;
    }
    99% {
        scroll-snap-align: none;
    }
    100% {
        scroll-snap-align: center;
    }
}

* {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0;
}

*::-webkit-scrollbar {
    width: 0;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}

* {
    -ms-overflow-style: none;
}

ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
}

.carousel__viewport {
    position: absolute;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    width: 85%;
    height: 70%;
}

.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background: transparent;
    counter-increment: item;
}

#carousel__slide2, #carousel__slide3{
    margin-left: 20px;
}

.carousel__slide:nth-child(even) {
    background: transparent;
}

.carousel__snapper {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}

@media (hover: hover) {
    .carousel__snapper {
        animation-name: tonext, snap;
        animation-timing-function: ease;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    .carousel__slide:last-child .carousel__snapper {
        animation-name: tostart, snap;
    }
}

@media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
        animation-name: none;
    }
}


/*----------------------------------------*/
/* Choix de raquettes
/*----------------------------------------*/
.containerToutSlide {

    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.containerRaquette {
    position: relative;

    background-image: linear-gradient(140deg, rgba(126, 176, 0, 1), rgba(173, 228, 33, 1), rgba(239, 255, 200, 1));

    width: 100%;

    height: 100%;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.logo {
    width: 50%;

    position: absolute;
    z-index: 999;

    top: 7%;
    left: 0;

    overflow: hidden;
}

/* Disposition bouton choisir */
#poele .raquette {
    margin: 10px 0 0 0;
    width: 45%;

}

#rouleau .raquette {
    margin: 10px 0 0 0;
}

#spatule .raquette {
    margin: 10px 0 0 0;
}

/* Rotation des images de raquettes */
.raquette {
    position: absolute;
    top: 110px;

    margin: 115px 0 0 0;
    transform: rotate(27.44deg) scale(1.2);

    overflow: hidden;
}

.spatule{
    position: absolute;
    top: 80px;

    transform: rotate(27.44deg) scale(1);
}

.raquetteRouleau {
    width: 30%;
}

.raquetteSpatule {
    width: 30%;
}

button {
    position: absolute;
    z-index: 1;
    bottom: 30px;

    font-size: 3rem;
    font-family: 'Ranchers', cursive;
    color: #FFE424;
    text-transform: uppercase;
    letter-spacing: 4px;

    /* Contour du texte */
    text-shadow: -2px 2px 0 #FF8C1E,
    2px 2px 0 #FF8C1E,
    2px -2px 0 #FF8C1E,
    -2px -2px 0 #FF8C1E;

    background:  none;
    border: none;

}

/* Détails arrière-plan containerRaquette */

.ombre {
    position: absolute;

    bottom: 115px;

    width: 110px;
    height: 21px;

    background: rgba(53, 53, 54, 0.15);
    filter: blur(3px);
    border-radius: 50%;
}


/*----------------------------------------*/
/* Rejouer
/*----------------------------------------*/
.rejouer{
    height: 101vh;
    width: 100vw;

    display: flex;

    flex-direction: column;
    align-items: center;

    background: url("../../jeu/ressources/images/fond-rejouer.png") no-repeat center/cover;
}

.rejouer img{
    width: 85%;

    margin-top: 45px;
}

.rejouer p{
    font-family: 'Ranchers', cursive;
    font-size: 1.7rem;

    letter-spacing: 2px;
    text-align: center;

    text-shadow: -2px -2px 0 rgba(0,0,0,0.25);

    color:white;
}

.btnrejouer{
    margin-bottom: 50px;
    background: #FF8C1E;
    box-shadow: 0 7.5px 0 #D85C14;

    padding: 11px 60px;

    border-radius: 13px;

    font-size: 2.5rem;

    color: white;
    text-shadow: none;
}



/* Responsive */
@media only screen and (max-height: 744px) {
    #poele .raquette {
        margin: -10px 0 0 0;
        width: 42%;

    }
    #rouleau .raquette {
        margin: -40px 0 0 0;
        width: 30%;
    }

    #spatule .spatule {
        margin: -20px 0 0 0;
        width: 28%;
    }
}

@media only screen and (max-height: 667px) {
    /* Iphone 6/7/8 */

    #poele .raquette {
        margin: -20px 0 0 0;
        width: 35%;

    }
    #rouleau .raquette {
        margin: -40px 0 0 0;
        width: 25%;
    }

    #spatule .spatule {
        margin: -20px 0 0 0;
        width: 23%;
    }


}